:root {
	--primary-color: #12c2b9;
	--secondary: #dbfffe;
	--black: #141414;
	--white: #fff;
	--box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}
* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
}
.wrapper h1{
    text-align: center;
    color: var(--primary-color);
    font-size: 2.5rem;
}
.wrapper h1::after {
	content: url('/image/separator.svg');
	display: block;
	width: 10rem;
	margin-inline: auto;
	margin-top: -1rem;
}
.image-container {
    max-width: 520px;
    flex: 0 0 auto;
    margin-right: 20px;
    margin-left: 10px;
}

img {
    width: 100%;
    border: 3px solid #000;
    border-radius: 10px;
}

.content {
    display: flex;
    margin-bottom: 20px;
}

.text-container {
    background-color: #12c2b9;
    border-radius: 15px;
    text-align: justify;
    flex: 1;
}

.text-box {
    margin-left: 100px;
    color: #000;
    max-width: 80%;
   margin-top: 60px;
}

.text-box h2 {
    font-size: 42px;
}

.text-box p {
    font-size: 16px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .image-container {
        max-width: 100%;
        order: 1;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .text-container{
        order: 2;
        margin-top: 0px;
    }
    .text-box{
        margin-left: 10px;
        max-width: 100%;
        margin-top: 0px;
    }
}
